.gallery-banner{
    width:100%;
    height:300px;

    background-image:url("../../assets/Gallery.jpg");
    background-size:cover;
    background-position:center top;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.gallery-banner::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.55);
}

.overlay-gallery{
    position:relative;
    z-index:2;
}

.overlay-gallery h1{
    color:#fff;
    font-size:50px;
    font-weight: bold;
}

.overlay-gallery span{
    color:#ffd400;
}

.gallery-buttons{
    display:flex;
    justify-content:center;
    gap:10px;
    margin:30px 0;
}

.gallery-buttons button{
    padding:10px 20px;
    border-radius:40px;
    border:1px solid #000;
    background:#fff;
    cursor:pointer;
    font-size:18px;
}

.gallery-buttons button:hover{
    background:#ffd400;
}

.gallery-grid{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    padding-bottom:80px;
}

.gallery-card{
    overflow:hidden;
}

.gallery-card img,
.gallery-card iframe{
    width:100%;
    height:250px;
    object-fit:cover;
    border:none;
    transition:.3s;
}

.gallery-card img:hover{
    transform:scale(1.08);
}

.popup{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.8);

    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.popup img{
    width:80%;
    max-width:900px;
}

.video-popup{
    width:80%;
    max-width:900px;
    height:500px;

}

.video-popup iframe{
    width:100%;
    height:100%;
    border:none;
}

.close-btn{
    position:absolute;
    top:10px;
    right:30px;
    border:none;
    background:none;
    color:white;
    font-size:10px;
    cursor:pointer;

}